
body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;
  position: fixed;
}

.toolbar {
  height: 48px;
  line-height: 48px;
  background: silver;
  padding: 0;
  margin: 0;
}

.toolbar input,
.toolbar button,
.toolbar select {
  height: 24px;
  font-size: 11px;
  margin: 0;
  padding: 0 !important;
  border: 1px solid black;
  background-image: none;
  outline: none;
  line-height: 11px;
  width: 80px;
}

.colorbar {
  height: 16px;
  display: flex;
  background: black;
}

.colorbar .swatch {
  height: 16px;
  width: 12px;
}

.canvasArea {
  border: 1px solid silver;
  height: 100%;
}

/* ////////////////////////////////////////////////////// */

input[type=range] {
  height: .5rem;
}
input[type=range] {
  -webkit-appearance: none;
  width: 5rem;
  background: transparent;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type=range]::-ms-track {
  width: 5rem;
  cursor: pointer;
  background: transparent; 
  border-color: transparent;
  color: transparent;
}
/* thumb */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: .0625rem solid #000000;
  height: 1.5rem;
  width: 1rem;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: 0;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: .0625rem solid #000000;
  height: 1.5rem;
  width: 1rem;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0.0625rem solid #000000;
  height: 1.5rem;
  width: 1rem;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}